# When set, the /trials React panel will call this OKE Express server
# instead of the Vercel serverless function.
# Leave blank (or delete) to use the Vercel /api/trials endpoint as before.
#
# Set to your OKE LoadBalancer external IP:
#   VITE_TRIALS_API_BASE=http://YOUR_OKE_LB_IP
#
VITE_TRIALS_API_BASE=
